

.good-team-container{
	display: flex;
	flex-direction: column;
	img{
		width: 100px;
		height: 100px;
		margin: 20px;
	}
}

.good-team-container{
	display: flex;
	flex-direction: column;
	img{
		width: 100px;
		height: 100px;
		margin: 20px;
	}
}

.controls{
	display: inline-block;
}

.container{
	display: inline-block;
}

.battle-container{
	display: flex;
	justify-content: space-between;
}

.info-container{
	// width: 500px;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}