

.good-team-container{
	display: flex;
	flex-direction: column;
	img{
		width: 100px;
		height: 100px;
		margin: 20px;
	}
}

.good-team-container{
	display: flex;
	flex-direction: column;
	img{
		width: 100px;
		height: 100px;
		margin: 20px;
	}
}

.buttons{
	display: flex;
	flex-direction: column;
}

.container{
	display: inline-block;
	width: 100%;
}

.battle-container{
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-image: url("../../images/Forrest-Background.png");
	background-size: 100% 100%;
}

.info-container{
	// width: 500px;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}